{{ $col_id := .Get "color" | default "dark" }}
{{/* Height can be one of: auto, min, med, max, full. */}}
{{ $height := .Get "height" | default "max"  }}
<section class="
    row td-cover-block td-cover-block--height-{{ $height }} js-td-cover td-overlay td-overlay--light 
    -bg-{{ $col_id }}" style="background-image:url(background.jpg)">
    <div class="container td-overlay__inner">
        <div class="row align-items-center justify-content-center">
            <div class="col-lg-6 col-md-4">
                <img alt="Logo" class="img-fluid" src="/images/logo-transparent.png" />
            </div>
            <div class="col-lg-6 col-md-4" style="margin-top:10px;">
                {{ .Inner }}
            </div>
        </div>
    </div>
</section>