+++
title = "Revanite"
linkTitle = "Revanite"

+++

{{< blocks/cover title="" image_anchor="top" height="min" color="primary" >}}
{{< /blocks/cover >}}

{{< blocks/lead color="primary" icon="fab fa-spotify" title="Check Out the Latest Episode" >}}
    <p class="text-md-center"><i>Links to alternate platforms are at the bottom of this page</i></p>
    <iframe style="border-radius:12px" src="https://open.spotify.com/embed/show/4TJtCRn0R2lWRKHo3Fd0WB?utm_source=generator" width="100%" height="242" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
{{< /blocks/lead >}}
<!-- 
{{< blocks/section color="dark" icon="fa-feather" title="Featured Writers" >}}
{{% blocks/feature icon="fab fa-twitter" title="Rick Danforth" url="https://twitter.com/Rick_and_Write" %}}
<p class="text-md-left">Rick Danforth is a BSFA award shortlisted author from Yorkshire, England, where he works as a Systems Architect to fund his writing habit. When not working valiantly in the plot mines, he can be found doing Brazilian Jiu-Jitsu, a type of involuntary yoga with uncomfortable pyjamas.</p>
<p class="text-md-left">His short fiction can be found in Hexagon, Translunar Traveler’s Lounge, and many other places.</p>
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-twitter" title="Ian Kinder" url="https://twitter.com/CuddlebugKaiju" %}}
<p class="text-md-left">Ian Kinder is an amateur in the classical sense— he writes for the love of it. He is for the moment a bartender, formerly a paralegal, formerly a mental health caretaker, formerly a TV technician, formerly a grocery clerk. If he isn't writing or job hunting, he is probably acting in one of his local community theaters.</p>
{{% /blocks/feature %}}
{{% blocks/feature icon="fab fa-twitter" title="Eddie Knight" url="https://twitter.com/the_eddieknight" %}}
<p class="text-md-left">Eddie Knight has been a technical leader in organizations ranging from financial services to software security, enabling him to gain the wealth of experience and insight that he brings as a speaker, author, and strategist.</p>
<p class="text-md-left">His most recent work is <a href="https://www.amazon.com/Nix-Records-Mechanocene-Eddie-Knight-ebook/dp/B0C9XJDFGY">Nix</a>, a cybercrime technothriller about a family man tech executive who's life gets turned upside down when his AI and Robotics company draws international attention.</p>
{{% /blocks/feature %}}
{{< /blocks/section >}} -->

<!-- {{< blocks/lead type="row" color="light" icon="fa-feather" title="What stories do we accept?" >}}
<div class="col-12" style="padding-bottom:25px;">
    <p>We are not currently accepting submissions, but— for your reference— here are the criteria we use for stories.</p>
</div>
{{% blocks/feature title="Formatting" %}}
<p class="text-md-left">We accept documents as .doc, .docx or, if you must, .rtf. Please follow Shunn’s modern manuscript format.</p>
{{% /blocks/feature %}}
{{% blocks/feature title="Multiple Submissions" %}}
<p class="text-md-left">Please submit one story at a time. Unless otherwise directed, please wait 7 days to submit in the event that your story isn't a good fit.</p>
{{% /blocks/feature %}}
{{% blocks/feature title="Word Limit" %}}
<p class="text-md-left">100-6,000 words. We intend to accept an equal number of flash-fiction and short stories.</p>
{{% /blocks/feature %}}
{{% blocks/feature title="Simultaneous Submissions" %}}
<p class="text-md-left">Submitting to us and others at the same time is not only accepted, but encouraged! We do ask that you notify us as soon as possible if your submission is accepted elsewhere.</p>
{{% /blocks/feature %}}
{{% blocks/feature title="Payment and Rights" %}}
<p class="text-md-left">We pay $0.01 per word for original, unpublished fiction. Payment is via PayPal only. We require First Print and Digital rights with a six-month period of exclusivity from the date of publication. All other rights remain with the author.</p>
{{% /blocks/feature %}}
{{% blocks/feature title="Time Length" %}}
<p class="text-md-left">We aim to make our final decisions within a month of the submission window closing. You will often receive a response much sooner. If you haven’t heard from us by that time, please query via e-mail with query in the subject line.</p>
{{% /blocks/feature %}}
<div class="col-12" style="padding-top:35px;padding-bottom:20px;">
    <p class="h3"><b>What we don’t want:</b></p>
</div>
{{% blocks/feature title="Non-speculative fiction" %}}
<p class="text-md-left">If there is not an element of fantasy, science fiction or horror then we are not the target market for your story.</p>
{{% /blocks/feature %}}
{{% blocks/feature title="Reprints" %}}
<p class="text-md-left">We accept reprints by request only (Although we do intend to change this in the future)</p>
{{% /blocks/feature %}}
{{% blocks/feature title="Downers" %}}
<p class="text-md-left">We accept <i>less than upbeat</i> tales if they are comedic, but not if they're downers! This includes overt racism, violence, sex, or negative outlooks on humanity.</p>
{{% /blocks/feature %}}
<div class="col-12"><p>We also ask you not to send fanfiction, published stories, or tales we've previously rejected.</p></div>
{{< /blocks/lead >}} -->